h1 {
    font-family: monospace;
    color: aliceblue;
}

nav li {
    float: left;
    padding-right: 10px;
    list-style: none;
    color: #eddaff;
}

li a {
    text-decoration: none;
    color: darkcyan;
}
li a:hover {
    text-decoration: none;
    color: yellow;
}

body {
    background: black;
    color: blanchedalmond;
}

article {
    margin-left: 10%;
    margin-right: 10%;
    min-width: 50%;    
    margin-top:50px;
    float:left;
}
aside {
    float: left;
}

nav {
    position: fixed;
}

form#in_form {    
    margin-left: 10%;
    margin-right:  10%;
    width: max-content;
}

input[type="text"] {
    margin: 5px;
}
section#auctions {
    display: inline-grid;
    width: 150px;}

section.viewtypes {
    width: 250;
    display: inline-grid;
}
label {
    float: right;
}

input[type="radio"] {
    float: right;
}